################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TravelistaProject/.vs/TravelistaProject/v15/Server/sqlite3
