################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TravelistaProject/.vs/TravelistaProject/v15/Server/sqlite3
/.vs/TravelistaProject/v15
/.vs
/TravelistaProject/.vs/TravelistaProject/v16/Server/sqlite3
/TravelistaProject/.vs/TravelistaProject/v16/.suo
/TravelistaProject/.vs/TravelistaProject/config/applicationhost.config
/TravelistaProject/UserServices/Migrations
